body{
  background-image: url(./img/bgApp.jpg);
  /* width: 100vw;
  height: 100vh; */
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .App-header {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.containerApp{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}